<div *ngIf="isLoading" class="loading">
    <div class="spinner"></div>
</div>
<div *ngIf="!isLoading" class="user-detail-data">
    <div class="container">
        <ul class="d-flex p-0">
            <li class="d-flex align-items-center"> <img src="../../assets/person.jpg" class="w-100"></li>
            <li class="d-flex align-items-center">
                <ul>
                    <li>
                        <h2>{{userDetails.name}}</h2>
                    </li>
                    <li>
                        <h4>{{userDetails.website}}</h4>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="border-bottom py-3">USER INFORMATION</p>
        <div class="person-information">
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-user"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>Name</p>
                            </li>
                            <li>
                                <h6>{{userDetails.name}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-user"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>User-Name</p>
                            </li>
                            <li>
                                <h6>{{userDetails.username}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-envelope"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>E-mail</p>
                            </li>
                            <li>
                                <h6>{{userDetails.email}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-address-book"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>Address</p>
                            </li>
                            <li>
                                <h6>{{userDetails.address.street}}, {{userDetails.address.suite}},
                                    {{userDetails.address.city}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-address-card"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>Zip-Code</p>
                            </li>
                            <li>
                                <h6>{{userDetails.address.zipcode}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-phone"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>Phone</p>
                            </li>
                            <li>
                                <h6>{{userDetails.phone}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="person-information-item">
                <ul class="d-flex p-3">
                    <li class="d-flex align-items-center"><i class="fa-solid fa-building"></i></li>
                    <li>
                        <ul>
                            <li>
                                <p>Campany</p>
                            </li>
                            <li>
                                <h6>Name: {{userDetails.company.name}}</h6>
                                <h6>Catch-Phrase: {{userDetails.company.catchPhrase}}</h6>
                                <h6>bs: {{userDetails.company.bs}}</h6>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>